.navbar{
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 1px 10px rgb(211, 211, 211);
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.navbar_first{
  width: 25%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
}
.navbar__fblogo{
  font-size: 40px;
  color: blue;
}
.navbar_search{
  position: relative;
  align-items: center;
}
.navbar_formfield{
  border-radius: 20px;
  padding: 13px;
  border: none;
  background-color: rgb(236, 236, 236);
  margin-left: 10px;
  padding-left: 30px;
  outline: none;
}
.search_icon{
  left: 17px;
  top: 10px;
  position: absolute;
  font-size: 20px;
  color: rgb(132, 136, 139);
}
.navbar_middle{
  width: 40%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.middle_Icons_back{
  
  padding: 11px 40px;
  align-items: center;
  border-radius: 10px;
}
.middle_icon_style{
  color: rgb(71, 71, 71);
}
.middle_Icons_back:hover{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.navbar_last{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.last_icon_style{
  padding: 8px;
  /* margin-left: 10px; */
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}